/AlbumDeImagenes2/nbproject/private/
/AlbumDeImagenes/nbproject/private/
/AlbumDeImagenes3/nbproject/private/
/AlbumDeImagenes/build/
/AlbumDeImagenes2/build/
/AlbumDeImagenes3/build/
/AlbumDeImagenes/dist/